@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Mona Sans', sans-serif;
  scroll-behavior: smooth;
}

@layer base {
  @font-face {
    font-family: 'Mona Sans';
    src: url('/fonts/Mona-Sans-RegularWide.woff2') format('woff2'),
      url('/fonts/Mona-Sans-RegularWide.woff') format('woff'),
      url('/fonts/Mona-Sans-RegularWide.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Mona Sans';
    src: url('/fonts/Mona-Sans-MediumWide.woff2') format('woff2'),
      url('/fonts/Mona-Sans-MediumWide.woff') format('woff'),
      url('/fonts/Mona-Sans-MediumWide.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Mona Sans';
    src: url('/fonts/Mona-Sans-BoldWide.woff2') format('woff2'),
      url('/fonts/Mona-Sans-BoldWide.woff') format('woff'),
      url('/fonts/Mona-Sans-BoldWide.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}

@layer components {
  input,
  textarea {
    @apply h-14 rounded-lg bg-white-200 px-4 font-medium text-grey outline outline-[2.5px] outline-white-200 placeholder:text-body focus-within:outline-blue focus-visible:outline-blue;
  }

  label {
    @apply font-medium;
  }

  button {
    @apply hover:opacity-95 focus:outline-4 focus:outline-offset-[3px] focus:outline-blue focus:transition-outlineOffset focus:duration-200 focus:ease-in-out disabled:cursor-not-allowed disabled:opacity-50;
  }

  nav a {
    @apply outline-offset-2 focus:outline-blue focus-visible:outline-blue;
  }

  #search-btn {
    @apply hover:bg-opacity-90;
  }

  .nav-ul li {
    @apply hover:text-blue;
  }

  .nav-ul a {
    @apply flex py-[6px] lg:inline-block lg:py-0;
  }

  .card {
    @apply grid grid-cols-1 gap-x-4 gap-y-6 md:grid-cols-2 lg:gap-x-12 3xl:grid-cols-3;
  }

  .card-with-smaller-imgs {
    @apply grid grid-cols-[repeat(auto-fill,minmax(theme(width.64),1fr))] gap-x-6 gap-y-6 md:gap-y-0;
  }

  /* pagination */

  .pagination {
    @apply flex items-center justify-center gap-x-2;
  }

  .pagination li:not(:last-child, :first-child) {
    @apply flex h-8 w-8 items-center justify-center rounded bg-white-200 text-sm font-medium text-body hover:bg-opacity-90;
  }

  .pagination li:not(:last-child, :first-child) a {
    @apply flex h-full w-full items-center justify-center;
  }

  .pagination li.pagination__link--active {
    @apply bg-blue text-white-200;
  }

  .pagination li.pagination__link--disabled,
  .pagination li.pagination__link--disabled a {
    @apply cursor-not-allowed bg-white-200 text-[#b3b3b3];
  }

  .pagination__link--prev,
  .pagination__link--next {
    @apply flex h-full items-center justify-center px-2;
  }

  .previous,
  .next {
    @apply flex h-8 items-center justify-center rounded bg-white-200 text-sm font-medium text-blue;
  }

  /* end pagination */
}

.full-width-img {
  overflow: auto;
}

.full-width-img span {
  overflow: unset !important;
  /* position: unset !important; */
}

.full-width-img img {
  margin: 0 !important;
  width: 100% !important;
  height: auto !important;
  max-height: max-content !important;
  /* min-width: auto !important; */
  /* max-width: 100% !important; */
  min-height: auto !important;
}

.truncated-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
